# Auto detect text files and perform LF normalization
* text=auto

# Media files - never text, never line-ending-normalized, always binary
*.mp4 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
